body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #EFBBF0;
  overflow: hidden; /* Prevent scrolling */
}

.wrapper {
  aspect-ratio: 46 / 30;
  width: min(60vw, calc(40vh * (46 / 30)));
  height: auto;
  position: relative;
}

.wrapper:hover:not(.no-hover) .envelope__lid-one {
  transform: rotateX(90deg);
  transition: transform 0.3s ease-in; /* ease in on opening */
  transition-delay: 0s;
}

.wrapper:hover:not(.no-hover) .envelope__lid-two {
  transform: rotateX(180deg);
  transition: transform 0.3s ease-out; /* ease out on opening */
  transition-delay: 0.3s;
}

.wrapper:hover:not(.no-hover) .letter {
  transform: translate(-50%, -50%) translateY(-50%);
  transition: transform 0.5s ease;
  transition-delay: 0.4s;
}

.envelope {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #4080a7;
}

.envelope__front-bottom {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #C4DFF0;
  clip-path: polygon(50% 50%, 100% 100%, 0% 100%);
  z-index: 4;
}

.envelope__front-right {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #C4DFF0;
  clip-path: polygon(50% 50%, 100% 0%, 100% 100%);
  z-index: 4;
}

.envelope__front-left {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #a4d4f2;
  clip-path: polygon(50% 50%, 0% 0%, 0% 100%);
  z-index: 4;
}

.envelope__lid-one {
  width: 100%;
  height: 100%;
  position: absolute;
  clip-path: polygon(50% 60%, 0% 0%, 100% 0%);
  background: #096ead;
  z-index: 5;

  transform-origin: top;
  transition: transform 0.3s ease-out; /* ease out on closing */
  transition-delay: 0.4s; /* delay on closing */
}

.envelope__lid-one--hover-effect {
  transform: rotateX(90deg);
  transition: transform 0.3s ease-in; /* ease in on opening */
  transition-delay: 0s;
}

.envelope__lid-two {
  width: 100%;
  height: 100%;
  position: absolute;
  clip-path: polygon(50% 60%, 0% 0%, 100% 0%);
  background: #096ead;
  z-index: 2;

  transform-origin: top;
  transform: rotateX(90deg);
  transition: transform 0.3s ease-in; /* ease in on opening */
  transition-delay: 0.1s; /* delay on opening */
}

.envelope__lid-two--hover-effect {
  transform: rotateX(180deg);
  transition: transform 0.3s ease-out; /* ease out on opening */
  transition-delay: 0.3s;

}

@keyframes envelope-fade-out {
  100% {
    transform: translateY(300px) rotate(30deg);
    opacity: 0; /* display: none; */
  }
}

.envelope--animate-fade-out {
  animation: envelope-fade-out 0.8s forwards;
}

.letter {
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  position: absolute;
  background-color: white;
  border-left: 8px solid #A2006E;
  z-index: 3;

  transform: translate(-50%, -50%);
  transition: transform 0.5s ease;
}

.letter--hover-effect {
  transform: translate(-50%, -50%) translateY(-50%);
  transition: transform 0.5s ease;
  transition-delay: 0.4s;
}

.letter--animate-scale-up {
  transform: translate(-50%, -50%);
  transition: width 0.8s ease, height 0.8s ease, transform 0.8s ease;
  /* width: min(80vw, calc(80vh * (2 / 3))); */
  height: min(80vh, calc(100vw * (5 / 3)));
  /* aspect-ratio: 3 / 5; */
  /* max-height: 1000px; */
  transition-delay: 0.4s;
}

.letter--animate-scale-up .letter__header {
  max-height: 50px;
  transition: max-height 1s ease 1s;
}

.letter.lock-hover {
  transform: translate(-50%, -50%) translateY(-50%);
}

.letter__header {
  background-color: #DF1AA0;
  color: white;
  max-height: 0px;
  padding: 12px;
  text-align: center;
}

.letter__header h1,
.letter__content h2,
.letter__content p,
.letter__footer {
  opacity: 0;
  transform: translateY(20px);
}

.letter__header h1 {
  margin: 0;
  /* font-size: 2rem; */
  animation-delay: 1.2s;
}

.letter__content {
  padding-top: 10px;
  padding-left: 56px;
  padding-right: 64px;
  color: #333;
  line-height: 1.6;
}

.letter__content h2 {
  margin-bottom: 0px;
  color: #EF60AD;
  animation-delay: 2.0s;
}

.letter__content p:nth-of-type(1) {
  animation-delay: 1.4s;
}

.letter__content p:nth-of-type(2) {
  animation-delay: 1.6s;
}

.letter__content p:nth-of-type(3) {
 animation-delay: 1.8s;
}

.letter__content p:nth-of-type(4) {
  margin-top: 5px;
  margin-bottom: 0px;
  animation-delay: 2.2s;
}

.letter__content p:nth-of-type(5) {
  margin-top: 0px;
  margin-bottom: 0px;
  animation-delay: 2.4s;
}

.letter__content p:nth-of-type(6) {
  margin-top: 0px;
  margin-bottom: 0px;
  animation-delay: 2.6s;
}

.letter__content p:nth-of-type(7) {
  animation-delay: 2.8s;
}

.letter__content p:nth-of-type(8) {
  margin-top: 0px;
  margin-bottom: 0px;
  animation-delay: 3.0s;
}

.letter__content p:nth-of-type(9) {
  margin-top: 0px;
  margin-bottom: 0px;
  animation-delay: 3.2s;
}

.letter__content p:nth-of-type(10) {
  margin-top: 0px;
  padding-bottom: 32px;
  animation-delay: 3.4s;
}

@keyframes letter--fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.letter--animate-fadeInUp {
  animation: letter--fadeInUp 0.5s forwards;
}
